<div class="flex flex-col md:flex-row gap-4 mb-6 w-full">
  
  <div class="flex-grow">
    <input 
      #txt
      type="text" 
      (input)="onInputText(txt.value)"
      placeholder="Buscar carta (ej. Charizard)..."
      class="w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-white text-gray-700 shadow-sm transition"
    >
  </div>

  <div class="w-full md:w-1/2">
    <select #sel 
            (change)="onSelectSet(sel.value)" 
            [value]="selectedSetId"
            class="w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-white text-gray-700 shadow-sm transition cursor-pointer">
      <option value="null" [selected]="selectedSetId === null">🌍 Todas las Expansiones</option>
      
      @for (set of sets(); track set.id) {
        <option [value]="set.id" [selected]="selectedSetId === set.id">
            {{ set.name }} [{{ set.code }}]
        </option>
      }
    </select>
  </div>

</div>